@keyframes message-slide-from-left {
    from {
        margin-left: -100vw;
    }

    to {
        margin-left: 0vw;
    }
}

@keyframes message-slide-from-right {
    from {
        margin-left: 100vw;
    }

    to {
        margin-left: 0vw;
    }
}

@keyframes message-fade-in {
    from {
        opacity: 0.01;
    }

    to {
        opacity: 0.99;
    }
}

.message-list {
    &.animation-name-message-slide-from-left .message {
        animation-name: message-slide-from-left;
    }
    &.animation-name-message-slide-from-right .message {
        animation-name: message-slide-from-right;
    }
    &.animation-name-message-fade-in .message {
        animation-name: message-fade-in;
    }
}
