.message-list .ChatApp.message {
    width: calc(100% - 1em);
}

.ChatApp {
    margin: 0.5em;
    background: rgb(3, 124, 255);
    background: linear-gradient(45deg, rgba(3, 124, 255, 1) 0%, rgba(15, 132, 255, 1) 100%);
    border-radius: 10px 10px 0 10px;
    padding: 0.35em 0.5em;

    .msg-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .name {
        margin-right: 10px;
        font-weight: bold;
    }

    .time {
        font-size: 0.85em;
    }
}
