#header {
    line-height: _size(header-height);
    height: _size(header-height);

    >.logo {
        padding-right: 0.25em;
    }

    img {
        padding: 1em 0;
    }
}

.full-height-without-nav {
    height: calc(100vh - _size(header-height));
}