@import "tiles/animations";
@import "tiles/chatAppTile";
@import "tiles/doubleBubbleChatAppTile";
@import "tiles/restream";
@import "tiles/tldrChatAppTile";

.message-wrapper {
    position: relative;
    display: block;
}

.message-list {
    max-height: 100%;
    overflow: hidden;

    img {
        display: inline-block;
        margin: 0 0.1em -0.2em 0.1em;

        &.bttv {
            margin-bottom: -0.5em;
        }
    }

    .message {
        width: 100%;
        // animation-name: message-fade-in;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
}

.default-tile {
    margin: 0.5em 0;
    max-width: 100%;
}
