@import "tiles/defaultTile";
@import "tiles/chatAppTile";
@import "tiles/restream";

.message-wrapper {
    position: relative;
    display: block;
}

.message-list {
    max-height: 100%;
    overflow: hidden;

    img {
        display: inline-block;
        margin: 0 0.1em -0.2em 0.1em;
    }
}

@keyframes message-incomming {
    from {
        margin-left: -100vw;
    }

    to {
        margin-left: 0vw;
    }
}