@import "./vars";
@import "./functions";
@import "./layout";
@import "./message";
@import "./dropdown";

body {
  background-color: $background-colour;
  color: #ffffff;
}

.pointer {
  cursor: pointer;
}

.not-visible {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}
