@import "./vars";
@import "./functions";
@import "./layout";
@import "./message";

body {
  background-color: #282c34;
  color: #ffffff;
}

.pointer {
  cursor: pointer;
}

*::-webkit-scrollbar {
  display: none;
}